.search_bar {    
    text-align: center;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.search_bar_align {
    margin-top: 15px;
    text-align: center;
}