.app_container {
  margin: auto;
  width: 700px;
  background-color: white;
}

.app_add_movie {
  width: 100px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.subheading_title {
  font-family: sans-serif;
  color: red;
}
body {
  background-color: #E3E2DD;
}
