.app_container {
  margin: auto;
  width: 800px;
  background-color: white;
}

.app_add_movie {
  width: 100px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #E3E2DD;
}

.button:hover {
  cursor: pointer;
}
.darken {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: .5;
}